<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.js"></script>
        <style type="text/css">
        h2 {
            background: #faf;
        }
        </style>
        <script type="text/javascript">

        // Defer actions until DOM is loaded
        jQuery(document).ready(function() {

            jQuery.getJSON('/notes', function(data) {

                var notes = data.notes
                var notesDOM = jQuery('#notes');

                var html = '';

                for (i in notes) {
                    html += '<h2>' + notes[i].title + '</h2>';
                    html += '<p>' + notes[i].body + '</p>';
                }

                notesDOM.html(html);

            });

        });

        </script>
    </head>
    <body>
        <h1>Notebook</h1>
        <div id="notes">Loading...</div>
        <div id="noteform">
            <form action="/new-note" method="POST">
                <h1>Add a Note</h1>
                <p>
                    <label for="title">Note Title</label>
                    <input type="text" name="title" id="note-title">
                </p>
                <p><textarea name="body" id="note-body" cols="30" rows="10"></textarea></p>
                <p><button id="note-save">Save</button></p>
            </form>
        </div>
    </body>

</html>